body {
    background-image: url("../images/light-grey-terrazzo/light-grey-terrazzo.png");
}

.button-list {
    margin-bottom: 20px;
}

.topic-btn {
    margin: 3px;
}

/* #content-wrapper {
    margin: 0;
} */

/* #button-add {
    float: right;
} */

.gif-data {
    float: left;
    margin: 10px;
}

.bg-info {
    color: white;
}

.gif {
    border: 2px solid black;
}